body {
background: #ddd8dd;
}

.wrapper {
display: block;
flex-direction: row-reverse;
background-color: #fff;
width: 400px;
height: 400px;
margin: 0 auto;
}


.flowers{
    width: 130px ;
    border-radius: 0;
    margin: 20px 20px 60px 10px;

}


.center{
    text-align: center;
    margin-top: 40px;

}


.menu{
    margin-left: 20px;
    margin-top: 4px;
}

